################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FE_Project/Semantic-UI-master/.github
/.vs/Project_Aegona/v17
/.vs/slnx.sqlite
/.vs
/BE_Project/WebApplication1/.vs
/BE_Project/WebApplication1/ClassLibrary_database/bin/Debug/net6.0
/BE_Project/WebApplication1/ClassLibrary_database/obj
/BE_Project/WebApplication1/Database/bin/Debug/net6.0
/BE_Project/WebApplication1/Database/obj
/BE_Project/WebApplication1/WebApplication1/bin/Debug/net6.0
/BE_Project/WebApplication1/WebApplication1/obj
/BE_Project/WebApplication1/WebApplication1_Entity/bin/Debug/net6.0
/BE_Project/WebApplication1/WebApplication1_Entity/obj
/BE_Project/WebApplication1/WebApplication1/wwwroot/Semantic-UI-master/.github
