body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./Image/contact-us-bg.png');
    /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  
}

.row{
    width: 90%;
}
.field{
    position: relative; 
    
    /* vị trí làm chuẩn */
}
.contact-form {
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 119px 47px rgba(0,0,0,.01), 0 67px 40px rgba(0,0,0,.05), 0 30px 30px rgba(0,0,0,.09), 0 7px 16px rgba(0,0,0,.1), 0 0 0 rgba(0,0,0,.1);
    padding: 32px 40px;
    
    h2{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        text-transform: capitalize;
        color: #961e3c;
        text-transform: uppercase;
        text-align: left;
    }
 
    .field::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-top: 10px solid #961e3c;
        border-right: 11px solid #fff;
        border-left: 10px solid #961e3c;
        border-bottom: 10px solid #fff;   
     }
    
    
}
.ui.form .field {
    clear: both;
    margin: 0em 0em 2em;
}
.inform-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    
    
}

.icon-btn-area {
    padding: 4px 20px;
    background: #961e3c;
    text-transform: uppercase;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 7px;
    border-radius: 3.4%;
    margin: auto;
    color: white;
    text-align: center;

    img {
        border: 0;
        vertical-align: top;
        max-width: 100%;
        height: auto;
    }
}

.title-area{
 
    font-size: 28px;
    font-weight: 70px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #003363;
    margin: 20px;
    font-family: ubuntu, sans-serif !important;
}


.description-area > h4 span a{
    font-size: 20px;
}
.description-area{
    margin: 30px;
}

.description-area {
    h4{
        font-size: larger;
    }
   h4 span a {
    color: #e82048;
    font-size: 18px;
}
}


input[type="submit"] {
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    white-space: pre;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.btn-submit input {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    width: 100%;
    padding: 10px 32px;
    color: #fff;
    background: #961e3c;
    text-transform: uppercase;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
    transition: 0.3s ease-out;
}

input {
    height: 50px;
}

.input-field:valid ~ label,
.input-field:focus ~ label{

    /* dấu ngã là lấy cái đối tượng ở phía sau */
    position: absolute;
    top: 0;
    left: 30px;
    transform: translateY(-70%);
    pointer-events: none;
    transition: 0.3s ease-out;
    background-color: white;
  
    .ui.form .field > label {
       
        color: rgba(213, 31, 31, 0.87);
        
    }
}
.ui.form .field .input-field:valid ~ label,
.ui.form .field .input-field:focus ~ label{

    /* dấu ngã là lấy cái đối tượng ở phía sau */
    position: absolute;
    top: 0;
    left: 30px;
    transform: translateY(-70%);
    pointer-events: none;
    transition: 0.3s ease-out;
    background-color: white;
    font-size: 15px;
    font-style: oblique;
    color: rgba(252, 0, 0, 0.87);
}





/* *note ?
gọi class ai cao hơn thì ưu tiên ăn thằng đó
dấu ngã là lấy cái đối tượng ở phía sau  */